<!-- Contact -->
<section id="contact">
	<div class="inner">
		<section>
			<header class="major">
				<h2>About Me</h2>
			</header>
			<p>Over the past 5 years, we have grown from shooting personal home videos for family and friends to broadcasting school concerts for hundreds to watch and recording game winning plays in lacrosse.
				We push for quality, efficiency, and professionalism in all of our projects no matter the client. </p>
		</section>
		<section class="split">
			<section>
				<header class="major">
					<h2>Contact</h2>
				</header>
			<ul class="icons">
				<a class="icon alt fa-envelope" href="mailto:{{ site.email }}">noah@perez.productions</a>
				<a class="icon alt fa-instagram" href="https://www.instagram.com/_the_noah_perez_/" target="_blank" rel="noopener noreferrer">Instagram</a>
				<a class="icon alt fa-youtube" href="https://www.youtube.com/@Perez_Productions" target="_blank" rel="noopener noreferrer">Youtube</a>
			</ul>
		</section>
	</div>
</section>

<!-- Footer -->
	<footer id="footer">
		<div class="inner">
			<ul class="copyright">
				<li>&copy; {{ site.title }} {{ site.subtitle }}</li>
			</ul>
		</div>
	</footer>

</div>

<!-- Scripts -->
	<script src="{{ "assets/js/jquery.min.js" | absolute_url }}"></script>
	<script src="{{ "assets/js/jquery.scrolly.min.js" | absolute_url }}"></script>
	<script src="{{ "assets/js/jquery.scrollex.min.js" | absolute_url }}"></script>
	<script src="{{ "assets/js/skel.min.js" | absolute_url }}"></script>
	<script src="{{ "assets/js/util.js" | absolute_url }}"></script>
	<!--[if lte IE 8]><script src="{{ "assets/js/ie/respond.min.js" | absolute_url }}"></script><![endif]-->
	<script src="{{ "assets/js/main.js" | absolute_url }}"></script>
