<!-- Contact -->
<section id="contact">
	<div class="inner">
		<section>
			<header class="major">
				<h2>About Me</h2>
			</header>
			<p><span class="image right"><img src="assets/images/BTS3.jpg"></span> My name is Noah Perez, and I have been producing videos for the past six years.
				I specialize in event coverage, promotional content, and sports for a variety of clients such as schools, sports teams, and a venture capital firm.
			I am currently a dual enrolled junior at Buchholz High School and Stanta Fe College. I am also involved in the Academy of Entrepreneurship and the AFJROTC at Buchholz.</p>
		</section>
		<section class="split">
			<section>
				<section>
					<header class="major">
						<h2>Contact</h2>
					</header>
				<ul class="icons">
					<a class="icon alt fa-envelope" href="mailto:{{ site.email }}">noah@perez.productions</a>
					<a class="icon alt fa-instagram" href="https://www.instagram.com/_the_noah_perez_/" target="_blank" rel="noopener noreferrer">Instagram</a>
					<a class="icon alt fa-youtube" href="https://www.youtube.com/@Perez_Productions" target="_blank" rel="noopener noreferrer">Youtube</a>
				</ul>
			</section>
	</div>
</section>

<!-- Footer -->
	<footer id="footer">
		<div class="inner">
			<ul class="copyright">
				<li>&copy; {{ site.title }} {{ site.subtitle }}</li>
			</ul>
		</div>

	</footer>

</div>

<!-- Scripts -->
	<script src="{{ "assets/js/jquery.min.js" | absolute_url }}"></script>
	<script src="{{ "assets/js/jquery.scrolly.min.js" | absolute_url }}"></script>
	<script src="{{ "assets/js/jquery.scrollex.min.js" | absolute_url }}"></script>
	<script src="{{ "assets/js/skel.min.js" | absolute_url }}"></script>
	<script src="{{ "assets/js/util.js" | absolute_url }}"></script>
	<!--[if lte IE 8]><script src="{{ "assets/js/ie/respond.min.js" | absolute_url }}"></script><![endif]-->
	<script src="{{ "assets/js/main.js" | absolute_url }}"></script>
